<a href="https://colab.research.google.com/github/kamran-hassan/Data-Sci-ML-AI/blob/main/Pandas/Pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [5]:
my_lst =[[1,2,3,5,6,9],
         [8,5,6,2,1,'r']]

In [3]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [8]:
pdlst = pd.Series(my_lst)
print(pdlst)

0    [1, 2, 3, 5, 6, 9]
1    [8, 5, 6, 2, 1, r]
dtype: object

In [12]:
index = ['a','b']

pdlst2 = pd.Series(data= my_lst,index = index)

print(pdlst2)

a    [1, 2, 3, 5, 6, 9]
b    [8, 5, 6, 2, 1, r]
dtype: object

In [20]:
pd.Series(np.random.rand(10))

0    0.763394
1    0.186823
2    0.312379
3    0.488535
4    0.554435
5    0.196396
6    0.188862
7    0.956526
8    0.683768
9    0.301673
dtype: float64

## Dataframe

In [26]:
df = pd.DataFrame(np.random.rand(25).reshape(5,5),index = "a b c d e".split(" "),columns = "i j k l m".split(" "))
df

          i         j         k         l         m
a  0.336238  0.386659  0.725836  0.510751  0.114366
b  0.307619  0.096132  0.466845  0.085010  0.939595
c  0.646807  0.403084  0.315358  0.675221  0.119020
d  0.074476  0.599161  0.127011  0.724223  0.908829
e  0.001003  0.048492  0.860319  0.220345  0.849718

In [35]:
df['adding'] = df['i'] + df['j']
df

          i         j         k         l         m    adding
a  0.336238  0.386659  0.725836  0.510751  0.114366  0.722898
b  0.307619  0.096132  0.466845  0.085010  0.939595  0.403752
c  0.646807  0.403084  0.315358  0.675221  0.119020  1.049891
d  0.074476  0.599161  0.127011  0.724223  0.908829  0.673636
e  0.001003  0.048492  0.860319  0.220345  0.849718  0.049495

In [38]:
df.drop('adding',axis=1)

          i         j         k         l         m
a  0.336238  0.386659  0.725836  0.510751  0.114366
b  0.307619  0.096132  0.466845  0.085010  0.939595
c  0.646807  0.403084  0.315358  0.675221  0.119020
d  0.074476  0.599161  0.127011  0.724223  0.908829
e  0.001003  0.048492  0.860319  0.220345  0.849718

In [39]:
df

          i         j         k         l         m    adding
a  0.336238  0.386659  0.725836  0.510751  0.114366  0.722898
b  0.307619  0.096132  0.466845  0.085010  0.939595  0.403752
c  0.646807  0.403084  0.315358  0.675221  0.119020  1.049891
d  0.074476  0.599161  0.127011  0.724223  0.908829  0.673636
e  0.001003  0.048492  0.860319  0.220345  0.849718  0.049495

In [40]:
df = df.drop('adding',axis=1)

In [41]:
df

          i         j         k         l         m
a  0.336238  0.386659  0.725836  0.510751  0.114366
b  0.307619  0.096132  0.466845  0.085010  0.939595
c  0.646807  0.403084  0.315358  0.675221  0.119020
d  0.074476  0.599161  0.127011  0.724223  0.908829
e  0.001003  0.048492  0.860319  0.220345  0.849718

In [46]:
df.loc['b']

i    0.307619
j    0.096132
k    0.466845
l    0.085010
m    0.939595
Name: b, dtype: float64

In [43]:
df.iloc[2]

i    0.646807
j    0.403084
k    0.315358
l    0.675221
m    0.119020
Name: c, dtype: float64

In [48]:
df.loc['a c d'.split()]

          i         j         k         l         m
a  0.336238  0.386659  0.725836  0.510751  0.114366
c  0.646807  0.403084  0.315358  0.675221  0.119020
d  0.074476  0.599161  0.127011  0.724223  0.908829

In [49]:
df.loc[['a','b'],['k','l']]

          k         l
a  0.725836  0.510751
b  0.466845  0.085010

In [50]:
df > 0.5

       i      j      k      l      m
a  False  False   True   True  False
b  False  False  False  False   True
c   True  False  False   True  False
d  False   True  False   True   True
e  False  False   True  False   True

In [51]:
df[df>0.5]

          i         j         k         l         m
a       NaN       NaN  0.725836  0.510751       NaN
b       NaN       NaN       NaN       NaN  0.939595
c  0.646807       NaN       NaN  0.675221       NaN
d       NaN  0.599161       NaN  0.724223  0.908829
e       NaN       NaN  0.860319       NaN  0.849718

In [52]:
df['i']>0.5

a    False
b    False
c     True
d    False
e    False
Name: i, dtype: bool

In [55]:
df[(df['i']>0.5) & (df['j']>0.3)]

          i         j         k         l        m
c  0.646807  0.403084  0.315358  0.675221  0.11902

In [56]:
df[(df['i']>0.5) & (df['j']>0.3)]['m']  #get value of m

c    0.11902
Name: m, dtype: float64

## Multi-Index Index Hierarchy

In [63]:
outside = "G1 G1 G1 G2 G2 G2".split()
inside = "1 2 3 1 2 3".split()
hier_index = list(zip(outside,inside))
hier_index

[('G1', '1'), ('G1', '2'), ('G1', '3'), ('G2', '1'), ('G2', '2'), ('G2', '3')]

In [64]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', '1'),
            ('G1', '2'),
            ('G1', '3'),
            ('G2', '1'),
            ('G2', '2'),
            ('G2', '3')],
           )

In [68]:
dff = pd.DataFrame(np.random.rand(6,2),index=hier_index,columns='A B'.split(" "))
dff

             A         B
G1 1  0.818929  0.068373
   2  0.560075  0.356648
   3  0.216568  0.731985
G2 1  0.562202  0.057925
   2  0.517854  0.210348
   3  0.625486  0.005553

In [70]:
dff.loc['G1']

          A         B
1  0.818929  0.068373
2  0.560075  0.356648
3  0.216568  0.731985

In [73]:
dff.loc['G1'].loc['2']

A    0.560075
B    0.356648
Name: 2, dtype: float64

In [74]:
dff.loc['G1'].loc['2','A']

0.5600753749537593

In [79]:
dff.xs(['G2','1'])

A    0.562202
B    0.057925
Name: (G2, 1), dtype: float64

In [85]:
#level wise referencing
dff.xs('1',level=1)

           A         B
G1  0.818929  0.068373
G2  0.562202  0.057925